{{yield}}
{{#if advancePageLink}}
	<div class="text--center">
		<div class="advance-page-link icon-uniE606" {{action 'advancePage'}}></div>
	</div>
{{/if}}
{{#if backgroundVideo}}
	<div class="bg-video"></div>
{{/if}}
